<% if current_user %>
<form method="post" action="/peeps">
  <input type="text" name="text" placeholder="What's happening?" autocomplete="off" autofocus value="<%= @text if @text %>">
  <input type="submit" value="Peep">
</form>
<% end %>
