<footer>
  <div class="wrapper">
    ¯\_(ツ)_/¯
  </div>
  <p>Built with love and cookies in <strong>Ruby</strong> using <strong>Sinatra</strong>. Check out the <a href="https://github.com/vannio/challenge-chitter" target="_blank"><strong>repo on github</strong></a>.</p>
</footer>
